{% extends "transactions/base.html" %}

{% block content %}
    <h2>Conversor de Moedas</h2>
    <form method="get" action="{% url 'convert_currency' %}">
        <div class="form-group">
            <h4>No plano gratuito da Fixer API, a moeda base é sempre EUR (Euro)</h4>
            <label for="base">Moeda Base:</label>
            <select id="base" name="base" required>
                {% for currency in currencies %}
                    <option value="{{ currency.code }}">{{ currency.code }} - {{ currency.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="target">Moeda Alvo:</label>
            <select id="target" name="target" required>
                {% for currency in currencies %}
                    <option value="{{ currency.code }}">{{ currency.code }} - {{ currency.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn">Converter</button>
    </form>

    {% if rate %}
        <h3>Taxa de Câmbio:</h3>
        <p>1 {{ base }} = {{ rate }} {{ target }}</p>
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}